{{ transaction_date }}
{%- if transaction_status %} {{ transaction_status }}{%- endif %}
{%- if transaction_code %} {{ transaction_code }}{%- endif %}
{%- if transaction_description %} {{ transaction_description }}{%- endif %}
{% for comment, tag in transaction_comments_tags %}
{{ '  ' }}; {{ comment }}{% if tag %} | {{ tag }}{% endif %}
{% endfor %}

{% if posting_status %}{{ posting_status }} {% endif %}{{ posting_account_name }} {{ posting_amount | string }}
{% for comment, tag in posting_comments_tags %}
{{ '  ' }}; {{ comment }}{% if tag %} | {{ tag }}{% endif %}
{% endfor %}
