{{ transaction_date }} {{ transaction_status or '' }} {{ transaction_code or '' }} {{ transaction_description or '' }}{% if transaction_comment or transaction_tag %} ; {{ transaction_comment or '' }}{% if transaction_tag %} | {{ transaction_tag }}{% endif %}{% endif %}
{% for comment, tag in transaction_comments_tags %}
{{ '  ' }}; {{ comment }}{% if tag %} | {{ tag }}{% endif %}
{% endfor %}

{{ posting_status or '' }} {{ posting_account_name }} {{ posting_amount | string }}
{% for comment, tag in posting_comments_tags %}
{{ '  ' }}; {{ comment }}{% if tag %} | {{ tag }}{% endif %}
{% endfor %}
